
<script setup>
import AdminMenu from "@/components/AdminMenu.vue";
// const props = defineProps({
//   // isMobileMenuOpen: { type: Boolean },
//   // categories: { type: Array },
//   person: { type: Array },
// });
// console.log("person",person)

</script>

<template>
  <div class="flex bg-[#FEFDFD] mt-4 h-screen w-full">
    <!-- Left Side Menu -->
    <!-- <div v-if="person">
person {{ person }}
    </div> -->
    <div class="flex w-72 h-full bg-white ">
        <AdminMenu />
    </div>

    <!-- Users Part -->
    <div class="px-10 py-10 flex flex-col w-full">
        <div class="flex items-center space-x-2">
            <h3 class="text-2xl font-semibold text-gray-900">Ruhin Shukurlu</h3>
            <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>
            <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20">Not Active</span>
        </div>
        <div class="flex space-x-4 mt-6">

            <form class="w-2/3 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl ">
                <div class="px-4 py-6 sm:p-8">
                    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Fullname</label>
                            <div class="mt-2">
                                <input type="text" value="Ruhin Shukurlu" name="first-name" id="first-name" autocomplete="given-name" class="w-full rounded-md py-1.5 px-2 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6 p-4 border border-[#CEC4BA] focus:outline-none focus:border-[#F29546]" />
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                            <div class="mt-2">
                                <input id="email" value="ruhinshukurlu@gmail.com" name="email" type="email" autocomplete="email" class="w-full rounded-md py-1.5 px-2 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6 p-4 border border-[#CEC4BA] focus:outline-none focus:border-[#F29546]"/>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="status" class="block text-sm font-medium leading-6 text-gray-900">Status</label>
                            <div class="mt-2">
                                <select id="status" name="status" autocomplete="status-name" class="w-full rounded-md py-1.5 px-2 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6 p-4 border border-[#CEC4BA] focus:outline-none focus:border-[#F29546]">
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="role" class="block text-sm font-medium leading-6 text-gray-900">Role</label>
                            <div class="mt-2">
                                <select id="role" name="role" autocomplete="role-name" class="w-full rounded-md py-1.5 px-2 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6 p-4 border border-[#CEC4BA] focus:outline-none focus:border-[#F29546]">
                                    <option>User</option>
                                    <option>Admin</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Profile photo</label>
                            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                                <div class="flex flex-col items-center text-center">
                                    <img class="w-20 h-20 rounded-md object-cover" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg" alt="">
                                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                        <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-orange-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-orange-600 focus-within:ring-offset-2 hover:text-orange-500">
                                            <span>Upload a file</span>
                                            <input id="file-upload" name="file-upload" type="file" class="sr-only" />
                                        </label>
                                    </div>
                                    <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-span-full space-y-2">
                            <div class="flex items-center space-x-1 text-sm font-medium leading-6 text-gray-900">
                                <div class="flex space-x-2">
                                    <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z" fill="rgba(244,151,64,1)"></path></svg>
                                    <span>Created At : </span>
                                </div>
                                <span>12-02-2022 12:00 </span>
                            </div>

                            <div class="flex items-center space-x-1 text-sm font-medium leading-6 text-gray-900">
                                <div class="flex space-x-2">
                                    <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z" fill="rgba(244,151,64,1)"></path></svg>
                                    <span>Updated At : </span>
                                </div>
                                <span>12-02-2022 12:00 </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
                    <button type="submit" class="flex w-fit justify-center rounded-md px-6 py-3 text-sm font-semibold text-white shadow-sm btn-gradient items-center">Save</button>
                </div>
            </form>

            <div class="flex flex-col w-1/3">
                <div>
                    <h3 class="text-base font-semibold leading-6 text-gray-900">Created & Saved Trips</h3>
                    <ul class="mt-5 flex flex-col space-y-4">
                        <li>
                            <div class="flex items-center justify-between rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                                <div class="flex items-center space-x-2">
                                    <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z" fill="rgba(244,151,64,1)"></path></svg>
                                    <span>Trip Requests</span>
                                </div>
                                <span>34</span>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center justify-between rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                                <div class="flex items-center space-x-2 ">
                                    <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.602 13.7599L13.014 15.1719L21.4795 6.7063L22.8938 8.12051L13.014 18.0003L6.65 11.6363L8.06421 10.2221L10.189 12.3469L11.6025 13.7594L11.602 13.7599ZM11.6037 10.9322L16.5563 5.97949L17.9666 7.38977L13.014 12.3424L11.6037 10.9322ZM8.77698 16.5873L7.36396 18.0003L1 11.6363L2.41421 10.2221L3.82723 11.6352L3.82604 11.6363L8.77698 16.5873Z" fill="rgba(244,151,64,1)"></path></svg>
                                    <span>Saved Trips</span>
                                </div>

                                <span>23</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
  </div>
</template>
